body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

div h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0 0 0;
}

form {
  display: inline-block;
  margin: 0;
}

span {
  color: red;
  font-size: 8px;
}

#divForm {
  display: flex;
  flex-direction: column;
  width: 185px;
  height: 150px;
  justify-content: space-evenly;
}

#gridContainer {
  justify-content: center;
}

#result {
  font-size: 8px;
}

.row {
  display:inline-block;
  width:10px
}

.column {
  border: black .25px solid;
  width: 10px;
  height: 10px;
}

.row .clicked {
  background-color: dodgerblue;
}

